<div class="content">
<% if @meta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meta.errors.count, "erro") %> impediu que esta meta fosse salva:</h2>

      <ul>
      <% @meta.errors.full_messages.each do |msg| %>
        <li class="error-msg"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_with model: [@todo, @meta], url: todo_metas_path(@todo), method: :post, class: "form-class" do |form| %>
    <div class="input">
    <%= form.label "Nome tarefa:" %>
    <%= form.text_field :nome , class: "input-bar" %>
    <%= form.hidden_field :completed, value: false %>
    </div>
    
    <%= form.submit "Criar tarefa", class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Cancelar', todo_metas_path(@todo, @metas), class: 'btn btn-secondary', id: 'cancelar-lista' %>
</div>