<div class="content">
<% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "erro") %> impediu que esta meta fosse salva:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li class="error-msg"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_with(model: @todo, local: true, class: "form-class") do |form| %>
    <div class="inputs">
    <div class="input">
    <%= form.label "Título:" %>
    <%= form.text_field :title, class: "input-bar" %>
    </div>
    <div class="input">
    <%= form.label "Descrição:" %>
    <%= form.text_field :descricao, class: "input-bar" %>
    </div>
    <%= form.submit "Salvar mudanças", class: 'btn btn-primary' %>
    </div>
<% end %>

<%= link_to 'Cancelar', todos_path,class: 'btn btn-secondary', id: 'cancelar-lista' %>
</div>